<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STIGMATA</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" type="image/jpg" href="../imagenes/imagenes_para_la_pagina/Favicon.png">
</head>
<body>
    <a id="inicio"></a>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="presupuesto.html">PRESUPUESTO</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <a class="enlace_interno" href="#inicio"><img src="../imagenes/imagenes_para_la_pagina/flecha_arriba.png" alt=""></a>
        <!-- Galeria de imagenes dinamica utilizando Javascript -->
        <div>
             <h5 class="subtitulos_galeria">BLACKWORK</h5>
            <div class="caja_descripcion">
                <p class="descripcion">El estilo blackwork, como su propio nombre indica (trabajo en negro), utiliza únicamente esta tinta para crear líneas, sombras y efectos. La técnica surgió hará unos cinco años, y ha ido evolucionando hasta lograr efectos muy puros y recortados.</p>
            </div>
            <div class="contenedor_galeria">
                <div class="img_contenedor">
                    <img class="imagen_principal blackword1" src="../imagenes/estilos_de_tatuaje/Blackwork/blackword.1.jpg" alt=""> 
                </div>  
                <div class="barra_imagenes der">    
                    <img class="img_barra blackword2 activo " src="../imagenes/estilos_de_tatuaje/Blackwork/blackword.1.jpg" alt="">
                    <img class="img_barra blackword2" src="../imagenes/estilos_de_tatuaje/Blackwork/blackword.2.jpg" alt="">
                    <img class="img_barra blackword2" src="../imagenes/estilos_de_tatuaje/Blackwork/blackword.3.jpg" alt=""> 
                </div> 
            </div>
        </div>
        <h5 class="subtitulos_galeria">JAPONES</h5>
        <div class="caja_descripcion">
            <p class="descripcion">La cultura nipona ha influído poderosamente en el mundo del tatuaje, ya desde hace décadas. El estilo Japonés Tradicional refleja imágenes de máscaras, samuráis, geishas, peces rojos, diablos, dragones… Con profusión de colores y mucho realismo.</p>
        </div>
        <div class="contenedor_galeria" >
            <div class="barra_imagenes izq">                            
                <img class="img_barra japones2" src="../imagenes/estilos_de_tatuaje/Japones/japones.1.jpg" alt="">
                <img class="img_barra japones2" src="../imagenes/estilos_de_tatuaje/Japones/japones.2.jpg" alt="">                                        
                <img class="img_barra japones2 activo" src="../imagenes/estilos_de_tatuaje/Japones/japones.3.jpg" alt="">                
            </div>
            <div class="img_contenedor">
                <img class="imagen_principal japones1" src="../imagenes/estilos_de_tatuaje/Japones/japones.3.jpg" alt=""> 
            </div>
        </div>
        <h5 class="subtitulos_galeria">CARTOON</h5>
        <div class="caja_descripcion">
            <p class="descripcion">Este estilo de tatuajes está basado en series y personajes de animación ya sea de cómic, de películas , de Disney, de dibujos animados del cine, televisión o de personajes de video juegos, ya sean de niños, jóvenes o adultos. El estilo Cartoon tattoo o anime es un estilo en alza, que parece no tener vuelta atrás en tanto sigue cobrando terreno año tras año.</p>
        </div>
        <div class="contenedor_galeria">
            <div class="img_contenedor">
                <img class="imagen_principal cartoon1" src="../imagenes/estilos_de_tatuaje/Cartoon/cartoon.1.jpg" alt=""> 
            </div>  
            <div class="barra_imagenes der">    
                <img class="img_barra cartoon2 activo " src="../imagenes/estilos_de_tatuaje/Cartoon/cartoon.1.jpg" alt="">
                <img class="img_barra cartoon2" src="../imagenes/estilos_de_tatuaje/Cartoon/cartoon.2.jpg" alt="">
                <img class="img_barra cartoon2" src="../imagenes/estilos_de_tatuaje/Cartoon/cartoon.3.jpg" alt=""> 
            </div> 
        </div>
        <h5 class="subtitulos_galeria">REALISMO</h5>
        <div class="caja_descripcion">
            <p class="descripcion">Estos tatuajes están enfocados a reflejar exactamente una imagen, fotografía, etc. En ellos, la pericia y la habilidad del tatuador cobran especial importancia: por ejemplo, si el tatuaje es un retrato, el parecido es fundamental. Los tatuajes realistas pueden reproducir imágenes reales, pero también conceptos surrealistas o fantásticos..</p>
        </div>
        <div class="contenedor_galeria" >
            <div class="barra_imagenes izq">                            
                <img class="img_barra realismo2 " src="../imagenes/estilos_de_tatuaje/Realismo/realismo.1.jpg" alt="">
                <img class="img_barra realismo2" src="../imagenes/estilos_de_tatuaje/Realismo/realismo.2.jpg" alt="">                                        
                <img class="img_barra realismo2 activo" src="../imagenes/estilos_de_tatuaje/Realismo/realismo.3.jpg" alt="">                
            </div>
            <div class="img_contenedor">
                <img class="imagen_principal realismo1" src="../imagenes/estilos_de_tatuaje/Realismo/realismo.3.jpg" alt=""> 
            </div>
        </div>
        <h5 class="subtitulos_galeria">TRADICIONAL</h5>
        <div class="caja_descripcion">
            <p class="descripcion">Entre los estilos de tatuaje más populares, uno de los que lleva manteniéndose en primera línea durante décadas es el tatuaje tradicional americano. Son tatuajes delimitados con líneas negras puras, sólidas y sencillas. Las líneas suelen ser gruesas y casi siempre van coloreados con cuatro o cinco tonos básicos.</p>
        </div>
        <div class="contenedor_galeria">
            <div class="img_contenedor">
                <img class="imagen_principal tradicional1" src="../imagenes/estilos_de_tatuaje/Tradicional/tradicional.1.jpg" alt=""> 
            </div>  
            <div class="barra_imagenes der">    
                <img class="img_barra tradicional2 activo " src="../imagenes/estilos_de_tatuaje/Tradicional/tradicional.1.jpg" alt="">
                <img class="img_barra tradicional2" src="../imagenes/estilos_de_tatuaje/Tradicional/tradicional.2.jpg" alt="">
                <img class="img_barra tradicional2" src="../imagenes/estilos_de_tatuaje/Tradicional/tradicional.3.jpg" alt="">                 
            </div> 
        </div>
    </main>
    <footer>
        <div class="contenedor_titulo_footer">
            <h2>STIGMATA</h2>
            <video src="imagenes/videoplayback.mp4" autoplay loop muted></video>
        </div>
        <div class="linea_footer"></div>
        <div class="contenedor_informacion">
            <h4>HORARIO</h4>
            <ul>
                <li>Lunes a Viernes.	
                    10:00H a 20:00H</li>
                <li>Sábado............	
                    Cerrado</li>
                <li>Domingo..........
                    Cerrado</li>
            </ul>
        </div>
        <div class="contenedor_informacion">
            <h4>INFORMACION</h4>
            <ul>
                <li><img src="../imagenes/imagenes_para_la_pagina/localizacion.png" alt="">Fuengirola, Malaga</li>
                <li><img src="../imagenes/imagenes_para_la_pagina/telefono.png" alt="">613 04 44 19</li>
                <li><img src="../imagenes/imagenes_para_la_pagina/email.png" alt="">Proximamente</li>
            </ul>
        </div>
        <div class="contenedor_informacion">
            <h4>SIGUENOS</h4>
            <ul>
                <li><a href=""><img src="../imagenes/imagenes_para_la_pagina/instagram.png" alt=""></a></li>
                <li><a href=""><img src="../imagenes/imagenes_para_la_pagina/gorjeo.png" alt=""></a></li>
            </ul>
        </div>
        <div class="contenedor_informacion">
            <p>	&copy; 2023 - Gaston Balbi</p> <br>
            <a target="_blank" href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal">Política de privacidad y aviso legal</a>     <!-- El enlace que se ha elejido para esta etiqueta es de ejemplo, ya que no especificaba que pagina o que tendia que ir en la parte de aviso legal.-->
        </div>
    </footer>
    <script src="../js/javascript.js"></script>
</body>
</html>